.container {
  width: 960px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.main-header {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
}

.main-nav li {
  display: inline;
}

.main-nav a {
  display: inline-block;
  padding: 0.5em 0.5em;
  margin: 0em 0.5em;
  text-decoration: none;
  font-size: 1.4em;
  color: #333;
  border-bottom: solid #fff 2px;
  transition: 0.1s;

  &:hover {
    border-bottom: solid #999 2px;
  }

  &.active {
    border-bottom: solid #333 2px !important;
  }
}

@media (min-width: 960px) {
  .main-header .container {
    justify-content: space-between;
  }
}
