@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 20px 30px;
}

h1 {
  padding: 0px;
  margin: 0px;
}
